fresh_venv/
venv/
__pycache__/
*.pyc
.env
.streamlit/
Repositorio-Reportes-main/
.github\workflows\redeploy-portainer.yml
credenciales.json
setministerio
Dockerfile
docker-compose.yml
.github\workflows\redeploy-portainer.yml
.env.local
.env.example