services:
  reportes_cba:
    container_name: reportes_cba
    build: 
      context: https://oauth2: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@github.com/Dir-Tecno/TableroGeneral.git
    restart: unless-stopped
    networks:
      front-net:
        ipv4_address: 172.21.0.4
    ports:
      - 8501:8501
    environment:
      - GITLAB_TOKEN=${GITLAB_TOKEN}
      - SLACK_WEBHOOK_URL=${SLACK_WEBHOOK_URL}
      - SENTRY_DSN=${SENTRY_DSN}
      - FUENTE_DATOS=gitlab
      - REPO_ID=Dir-Tecno/df_tablero
      - BRANCH=main
networks:
  front-net:                #Gateway: 172.21.0.1
    external: true          #Subnet:      #Subnet: IP_ADDRESS/16
